In [1]:
from numpy.random import randn
import pandas as pd

## Criando Dataframe (não é importante)

In [4]:
df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="w x y z".split())

In [6]:
df

          w         x         y         z
A  0.342443 -1.406543 -0.379236 -0.082196
B -0.939109  1.200476  1.790046  0.510648
C -0.980991  1.832768 -0.577031  0.429309
D -0.428947  0.729016  0.269669  0.794761
E  0.022029  0.657931  1.837776  0.705714

In [8]:
type(df)

pandas.core.frame.DataFrame

## Pegando colunas selecionadas

In [11]:
df["w"]

A    0.342443
B   -0.939109
C   -0.980991
D   -0.428947
E    0.022029
Name: w, dtype: float64

In [13]:
df[["w","y"]]

          w         y
A  0.342443 -0.379236
B -0.939109  1.790046
C -0.980991 -0.577031
D -0.428947  0.269669
E  0.022029  1.837776

## Adicionando uma coluna  com o valor de soma de outras duas

In [16]:
df["new"] = df['w'] + df['y']

In [18]:
df

          w         x         y         z       new
A  0.342443 -1.406543 -0.379236 -0.082196 -0.036793
B -0.939109  1.200476  1.790046  0.510648  0.850936
C -0.980991  1.832768 -0.577031  0.429309 -1.558022
D -0.428947  0.729016  0.269669  0.794761 -0.159278
E  0.022029  0.657931  1.837776  0.705714  1.859805

## apagando uma coluna

In [21]:
del df["new"]

In [23]:
df

          w         x         y         z
A  0.342443 -1.406543 -0.379236 -0.082196
B -0.939109  1.200476  1.790046  0.510648
C -0.980991  1.832768 -0.577031  0.429309
D -0.428947  0.729016  0.269669  0.794761
E  0.022029  0.657931  1.837776  0.705714

## Selecionando uma ou mais linhas

In [26]:
df.loc["A"]

w    0.342443
x   -1.406543
y   -0.379236
z   -0.082196
Name: A, dtype: float64

In [28]:
df.loc[["A","B"]]

          w         x         y         z
A  0.342443 -1.406543 -0.379236 -0.082196
B -0.939109  1.200476  1.790046  0.510648

## Selecionando valor específico de uma linha e colunas .iloc[linha,coluna] por inidice

In [31]:
df.iloc[0,0]

0.34244307885367997

## Selecionando tabela de um ponto até outro
**(ele apaga o último número depois do 0:"0")**

In [34]:
df.iloc[1:4, 1:3]

          x         y
B  1.200476  1.790046
C  1.832768 -0.577031
D  0.729016  0.269669