In [3]:
from numpy.random import randn
import pandas as pd

## Criando Dataframe (não é importante)

In [5]:
df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="w x y z".split())

In [6]:
df

          w         x         y         z
A -0.899907 -0.753668  0.249725  0.593019
B -0.918375 -1.035986 -0.182251  0.204457
C  1.502449  0.879649  0.879736  1.545336
D  1.441365  1.011843 -1.631744 -0.450110
E  0.916184 -1.483595  0.824921 -0.431938

In [7]:
type(df)

pandas.core.frame.DataFrame

## Pegando colunas selecionadas

In [9]:
df["w"]

A   -0.899907
B   -0.918375
C    1.502449
D    1.441365
E    0.916184
Name: w, dtype: float64

In [10]:
df[["w","y"]]

          w         y
A -0.899907  0.249725
B -0.918375 -0.182251
C  1.502449  0.879736
D  1.441365 -1.631744
E  0.916184  0.824921

## Adicionando uma coluna  com o valor de soma de outras duas

In [12]:
df["new"] = df['w'] + df['y']

In [13]:
df

          w         x         y         z       new
A -0.899907 -0.753668  0.249725  0.593019 -0.650183
B -0.918375 -1.035986 -0.182251  0.204457 -1.100626
C  1.502449  0.879649  0.879736  1.545336  2.382185
D  1.441365  1.011843 -1.631744 -0.450110 -0.190379
E  0.916184 -1.483595  0.824921 -0.431938  1.741105

## apagando uma coluna

In [15]:
del df["new"]

In [16]:
df

          w         x         y         z
A -0.899907 -0.753668  0.249725  0.593019
B -0.918375 -1.035986 -0.182251  0.204457
C  1.502449  0.879649  0.879736  1.545336
D  1.441365  1.011843 -1.631744 -0.450110
E  0.916184 -1.483595  0.824921 -0.431938

## Selecionando uma ou mais linhas

In [18]:
df.loc["A"]

w   -0.899907
x   -0.753668
y    0.249725
z    0.593019
Name: A, dtype: float64

In [19]:
df.loc[["A","B"]]

          w         x         y         z
A -0.899907 -0.753668  0.249725  0.593019
B -0.918375 -1.035986 -0.182251  0.204457

## Selecionando valor específico de uma linha e colunas .iloc[linha,coluna] por inidice

In [21]:
df.iloc[0,0]

-0.899907271085245

## Selecionando tabela de um ponto até outro
**(ele apaga o último número depois do 0:"0")**

In [23]:
df.iloc[1:4, 1:3]

          x         y
B -1.035986 -0.182251
C  0.879649  0.879736
D  1.011843 -1.631744

## Mais detalhes do índice

In [25]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [26]:
df.columns

Index(['w', 'x', 'y', 'z'], dtype='object')