In [19]:
from numpy.random import randn
import pandas as pd

## Criando Dataframe (não é importante)

In [21]:
df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="w x y z".split())

In [23]:
df

          w         x         y         z
A  1.526281  0.090664  1.834460  0.729443
B  0.953009  0.836132  1.003379 -0.610108
C -0.653620  1.873208  0.490749 -2.169100
D  0.525842 -1.398341 -1.215074 -0.699342
E -0.598426  0.506044 -0.613979  0.034328

In [25]:
type(df)

pandas.core.frame.DataFrame

## Verificando colunas selecionadas

In [29]:
df[["w","y"]]

          w         y
A  1.526281  1.834460
B  0.953009  1.003379
C -0.653620  0.490749
D  0.525842 -1.215074
E -0.598426 -0.613979

## Adicionando uma coluna  com o valor de soma de outras duas

In [31]:
df["new"] = df['w'] + df['y']

In [33]:
df

          w         x         y         z       new
A  1.526281  0.090664  1.834460  0.729443  3.360741
B  0.953009  0.836132  1.003379 -0.610108  1.956388
C -0.653620  1.873208  0.490749 -2.169100 -0.162871
D  0.525842 -1.398341 -1.215074 -0.699342 -0.689232
E -0.598426  0.506044 -0.613979  0.034328 -1.212405

## apagando uma coluna

In [35]:
del df["new"]

In [37]:
df

          w         x         y         z
A  1.526281  0.090664  1.834460  0.729443
B  0.953009  0.836132  1.003379 -0.610108
C -0.653620  1.873208  0.490749 -2.169100
D  0.525842 -1.398341 -1.215074 -0.699342
E -0.598426  0.506044 -0.613979  0.034328

## Selecionando uma ou mais linhas

In [39]:
df.loc["A"]

w    1.526281
x    0.090664
y    1.834460
z    0.729443
Name: A, dtype: float64

In [43]:
df.loc[["A","B"]]

          w         x         y         z
A  1.526281  0.090664  1.834460  0.729443
B  0.953009  0.836132  1.003379 -0.610108